
export EDITOR='vim';

# Any more secure way we can do this?

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656

export GPG_TTY=$(tty);
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL="ignoreboth:erasedups"
export HISTIGNORE="ls:bg:fg"
export HISTTIMEFORMAT="%c: "
export EDITOR=vim
export VISUAL=vim


# Set CLICOLOR if you want Ansi Colors in iTerm2
export CLICOLOR=1

# Set colors to match iTerm2 Terminal Colors
export TERM=xterm-256color

# added by Anaconda3 5.2.0 installer
export PATH="/Users/phaedrus/anaconda3/bin:$PATH"

# added by Anaconda2 5.2.0 installer
export PATH="/Users/phaedrus/anaconda2/bin:$PATH"

# Tell grep to highlight matches
export GREP_OPTIONS='--color=auto'

# Case-insensitive globbing (used in pathname expansion)
shopt -s nocaseglob

# Autocorrect typos in path names when using `cd`
shopt -s cdspell

shopt -s histappend
