# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# ignore all . files but include . folders
.*
.*/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.aws/
.atom/
.bash_sessions/
.android/
.anaconda/
.cache/
.config/
.continuum/
.cookiecutter_replay/
.cups/
.div/
.docker/
.docker/
.eclipse/
.gem/
.git/
.goenv/
.groovy/
.hgignore_global/
.ipynb_checkpoints/
.ipython/
.jenkins/
.jupyter/
.keys/
.kite/
.kube/
.lesshst/
.local/
.matplotlib/
.npm/
.npm/
.oracle_jre_usage/
.p2/
.packer.d/
.pivman/
.pylint.d
.python_history
.rbenv
.rnd
.serverless
.serverlessrc
.sh_history
.spyder-py3
.sqlworkbench
.ssh
.stCommitMsg
.subversion
.terraform
.terraform.d
.tfenv
.vim
.viminfo
.virtualenvs
.vscode
.wget-hsts

AnacondaProjects/
Applications/
Cute
Desktop/
Documents/
Downloads/
EdisonJr/
KeePass-2.39.1/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
RemoteDownloads/
Sites/
Virtualenvs/
anaconda3/
backup/
eclipse/
gits/
go/
grindrgits/
ring-terraform/
src/
temp/
test/
tmp/
.Trash/
.bundle/
.conda/
.cookiecutters/
.dlv/
.gitkraken/
.npm copy/
